body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f2f2f2;
}

h1 {
  margin-top: 20px;
}

.buttons {
  margin: 20px;
}

button {
  padding: 10px 18px;
  margin: 5px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #444;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  width: 180px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
